# HW4 - The Cancer Challenge

I am giving you two data files containing measurements of potentially cancerous cells.  The data were collected by processing digital microscope images with a program that measures features such as average cell area and perimeter.  Expect a fair amount of redundacy in these features.

Let's take a quick look:

In [17]:
import pandas as pd
data = pd.read_csv('cancer-data.csv')

In [18]:
data.shape

(544, 32)

In [19]:
data.head()

,ID,Class,F01,F02,F03,F04,F05,F06,F07,F08,...,F21,F22,F23,F24,F25,F26,F27,F28,F29,F30
0,1000,B,1.9110,0.04908,244.5,3.769,24.20,0.009845,0.065900,0.10270,...,0.3135,0.10550,10.060,23.40,68.62,297.1,0.03491,0.007877,0.1221,0.3748
1,1001,M,0.5906,0.06254,990.0,1.921,35.77,0.004117,0.015600,0.02975,...,0.2842,0.08225,20.380,22.02,133.30,1292.0,0.01295,0.002436,0.1263,0.2666
2,1002,B,1.8050,0.02583,372.7,1.377,19.08,0.014960,0.021210,0.01453,...,0.1902,0.07313,11.350,16.82,72.01,396.5,0.03082,0.004785,0.1216,0.0824
3,1003,M,0.8749,0.09711,685.0,3.466,24.19,0.006965,0.062130,0.07926,...,0.2866,0.11550,16.350,27.57,125.40,832.7,0.01499,0.005784,0.1419,0.7090
4,1004,B,1.4620,0.00000,178.8,2.492,19.14,0.012660,0.009692,0.00000,...,0.3058,0.09938,9.077,30.92,57.17,248.0,0.02882,0.006872,0.1256,0.0834

We get an ID number, the diagnosis (M = malignant, B = benign), and 30 mystery features.

And now the other file:

In [20]:
new = pd.read_csv('cancer-patients.csv')

In [21]:
new.head()

,ID,F01,F02,F03,F04,F05,F06,F07,F08,F09,...,F21,F22,F23,F24,F25,F26,F27,F28,F29,F30
0,1544,1.2160,0.11210,1320.0,4.206,75.09,0.006666,0.027910,0.04062,0.014790,...,0.2480,0.08999,23.86,30.76,163.20,1760.0,0.01117,0.003727,0.1464,0.35970
1,1545,2.1100,0.06618,609.9,2.112,31.72,0.007970,0.135400,0.11660,0.016660,...,0.5166,0.14460,15.74,37.18,106.40,762.4,0.05113,0.011720,0.1533,0.93270
2,1546,0.8732,0.02864,502.5,1.471,18.33,0.007962,0.005612,0.01585,0.008662,...,0.2383,0.06410,13.46,19.76,85.67,554.9,0.02254,0.001906,0.1296,0.07061
3,1547,0.7975,0.07951,1130.0,5.486,96.05,0.004444,0.016520,0.02269,0.013700,...,0.2551,0.06589,24.86,26.58,165.90,1866.0,0.01386,0.001698,0.1193,0.23360
4,1548,1.2900,0.04489,582.7,2.861,43.14,0.005872,0.014880,0.02647,0.009921,...,0.2651,0.07397,16.99,35.27,108.60,906.5,0.01465,0.002355,0.1265,0.19430

In [16]:
new.shape

(25, 31)

So we have 25 cell samples to classify.  We are going to emulate Kaggle here, so along with your report you must submit a *csv* file with two columns: ID and Class.  An example is provided for you.

# SCORING

To keep things interesting, I will calculate scores for your submissions:
* +10 points for a true positive
* +10 points for a true negative
* -1 point for a false positive
* -5 points for a false negative


Do well.

***

Name: Dr D  
Class: Pattern Recognition Spring 2018

# TITLE 
A one-sentance summary of what happens here

## Problem Description
goes here

## Solution Method
Your plan of attack.  Explain what you are going do to solve the stated problem.

## Input
Load and pre-process data

## Analysis
Do all the work here

## Results
Produce the lovely plots and/or data tables that best visualization your solution

## Discussion
Explain and interpret your results.  Explain how your results solve the problem.  Also describe anything interesting you discovered along the way, or lessons learned, or how you overcame problems you encountered.